<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-header>
                <strong>Customer <i class="fa-solid fa-user-group"></i> </strong>
                <a class="btn btn-info btn-sm offset-9"(click)="showModal('customer')" cButton >Add Customer</a>
            </c-card-header>
            <c-card-body>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead cTableColor="light">
                        <tr>
                            <th class="text-center">S.NO</th>
                            <th class="text-center">Customer Type </th>
                            <th class="text-center">Account Number </th>
                            <th class="text-center">Mobile Number</th>
                            <th class="text-center">Plans </th>
                            <th class="text-center">Start Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers; index as i">
                            <td class="text-center" >{{ i+1 }}</td>
                            <td class="text-center">{{ customer.customerType }}</td>
                            <td class="text-center">{{ customer.accountNumber }}</td>
                            <td class="text-center">{{ customer.mobileNumber }}</td>
                            <td class="text-center">{{ customer.customerPlan.descriptions }}</td>
                            <td class="text-center">{{ customer.startDate |  date: 'dd/MM/yyyy' }}</td>
                            <td class="text-center">
                              <div class="d-grid gap-2 d-md-flex justify-content-end">
                                <button cButton size="sm" color="info"(click)="showModal('customer')">Edit</button>
                                <button cButton size="sm" color="warning"(click)="showModal('history')">History</button> 
                                <button cButton size="sm" color="success"(click)="showModal('pay')" >Pay</button>
                              </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<!-- modal -->
<c-modal size="lg" id="liveDemoModal" [visible]="visible" (visibleChange)="closeModal($event)">
  <c-modal-header>
    <h5 cModalTitle>Add Customer</h5>
    <button (click)="showModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body [ngSwitch]="iscomp">
    <app-addcustomer  *ngSwitchCase="'customer'"></app-addcustomer>
    
    <app-customerhistory *ngSwitchCase="'history'"></app-customerhistory>
    <app-pay *ngSwitchCase="'pay'"></app-pay> 
  </c-modal-body>
  <c-modal-footer>
    <button (click)="closeModal($event)" cButton color="secondary"(click)="showModal()">Cancel</button>
    <button cButton btn-sm color="primary" (click)="customerSubmit()">Submit</button>
  </c-modal-footer>
</c-modal>

