<c-card>
  <c-card-body>
      <c-row>
        <c-col [md]="6">
            <label cLabel for=" accountnumber"> Account Number</label>
            <input cFormControl type="text" value="test" disabled/>
          </c-col>
          <c-col [md]="6">
            <label cLabel for=" mobilenumber"> Mobile Number </label>
            <input cFormControl type="text" value="test" disabled/>
          </c-col>
          <c-col [md]="6">
            <label cLabel for=" name"> Customer Name</label>
            <input cFormControl type="text" value="test" disabled/>
          </c-col>
          <c-col [md]="6">
            <label cLabel for=" plan"> Plan</label>
            <input cFormControl type="text" value="test" disabled/>
          </c-col>
          <c-col [md]="6">
            <label cLabel for=" lastdate"> Last Date</label>
            <input cFormControl type="text" value="test" disabled/>
          </c-col>
          <c-col [md]="6">
            <label cLabel for=" dueamount">Due Amount</label>
            <input cFormControl type="text" value="test" disabled/>
          </c-col>

          <c-col [md]="6" class="offset-6">
            <label cLabel for=" amount"> Amount</label>
            <input cFormControl type="text" value="343" disabled/>
          </c-col>
          <c-col [md]="6" class="offset-6">
            <label cLabel for=" balance">Balance</label>
            <input cFormControl type="text" value="" disabled/>
          </c-col>
      </c-row>
  </c-card-body>
</c-card>